#conteudo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row; /* alinhado ao lado */
  align-items: flex-start; /* alinhado ao topo */
}
#app main {
  margin-left: 30px;
}

/* #app .title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2em;
  margin-top: 50px;
}

#app .title h1 {
  font-size: 90px;
  margin: 0;
  letter-spacing: 1rem;
  color: aliceblue;
}
#app .title h3 {
  font-size: 40px;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  color: #fff;
} */

.container {
  height: 100vh;
}
/* Titulo */
.title {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* height: 100vh; */
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://media.giphy.com/media/LpDKmmMdp5rjO/source.gif);
  background-size: cover;
  color: transparent;
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.75;
  margin: 20px 0;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1.4px; /* largura da borda */
  -webkit-text-stroke-color: rgb(255, 255, 255); /* cor da borda */
}

h3 {
  font-size: 40px;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  color: #fff;
}

/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #fff;
  color: #122;
}

/* arrumando responsividade */

@media (max-width: 1000px) {
  #conteudo {
    flex-direction: column;
  }
  #conteudo main {
    margin-left: 0;
    margin-top: 30px;
  }
  #conteudo aside {
    width: 100%;
  }
}
