#conteudo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row; /* alinhado ao lado */
  align-items: flex-start; /* alinhado ao topo */
}
#app main {
  margin-left: 30px;
}

#app .title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2em;
  margin-top: 50px;
}

#app .title h1 {
  font-size: 90px;
  margin: 0;
  letter-spacing: 1rem;
  color: aliceblue;
}
#app .title h3 {
  font-size: 40px;
  letter-spacing: 0.3rem;
  opacity: 0.6;
  color: #fff;
}

.container {
  height: 100vh;
}

/* arrumando responsividade */

@media (max-width: 1000px) {
  #conteudo {
    flex-direction: column;
  }
  #conteudo main {
    margin-left: 0;
    margin-top: 30px;
  }
  #conteudo aside {
    width: 100%;
  }
}
